@font-face {
  font-family: 'Agmena';
  src: url('/fonts/Agmena Pro Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Agmena';
  src: url('/fonts/Agmena Pro Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Agmena';
  src: url('/fonts/Agmena Pro Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}