---
import IntroButton from "./IntroButton.astro";
---

<div class="intro-buttons">
  <IntroButton name="CLASSIC" path="/classic" />
  <IntroButton name="ARTWORK" />
  <IntroButton name="LOCATION" />
</div>
