---
import BossIcon from "../images/boss-icon.svg";
import LocationIcon from "../images/door-icon.svg";
import BonfireIcon from "../images/bonfire-icon.svg";
---

<div class="navigation-bar">
  <a href="/classic"><BossIcon /></a>
  <a href="/"><LocationIcon /></a>
  <a href="/"><BonfireIcon /></a>
</div>
